
Language: C

AccessModifierOffset: 0
AlignAfterOpenBracket: true
AlignArrayOfStructures: None
AlignConsecutiveAssignments:
  Enabled: false
  AcrossEmptyLines: false
  AcrossComments: false
  AlignCompound: false
  EnumAssignments: false

AlignConsecutiveBitFields: 
  Enabled: false
  AcrossEmptyLines: false
  AcrossComments: false

AlignConsecutiveDeclarations:
  Enabled: false
  AcrossEmptyLines: false
  AcrossComments: false
  AlignFunctionDeclarations: false
  AlignFunctionPointers: false
  PadOperators: false

AlignConsecutiveMacros:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: false

AlignConsecutiveShortCaseStatements:
  Enabled: false
  AcrossEmptyLines: false
  AcrossComments: false
  AlignCaseArrows: false
  AlignCaseColons: false

AlignEscapedNewlines: LeftWithLastLine
AlignOperands: DontAlign
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 1
  AlignPPAndNotPP: true

AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: true
AlwaysBreakBeforeMultilineStrings: false
BinPackLongBracedList: false
BitFieldColonSpacing: Both
BreakBeforeBraces: Custom
BraceWrapping:
  AfterEnum: true
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: true
  AfterCaseLabel: true
  AfterClass: true
  AfterNamespace: true
  AfterFunction: true
  AfterControlStatement: Always
  BeforeElse: true
  BeforeWhile: false
  BeforeCatch: true
  IndentBraces: false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true

BreakAfterReturnType: None
BreakArray: false

BreakBinaryOperations: Never
BreakFunctionDeclarationParameters: false
BreakFunctionDefinitionParameters: false
BreakInheritanceList: AfterColon
BreakStringLiterals: false

ColumnLimit: 0
CompactNamespaces: false

EmptyLineAfterAccessModifier: Leave
EmptyLineBeforeAccessModifier: Leave
EnumTrailingComma: Leave

FixNamespaceComments: false

IndentCaseLabels: true
IndentCaseBlocks: true
IndentExportBlock: true
IndentExternBlock: Indent
IndentGotoLabels: false
IndentPPDirectives: None
IndentWidth: 4
IndentWrappedFunctionNames: false
InsertBraces: true
InsertNewlineAtEOF: true
InsertTrailingCommas: None
IntegerLiteralSeparator: 
  Binary:          0
  BinaryMinDigitsInsert: 0
  BinaryMaxDigitsRemove: 0
  Decimal:         0
  DecimalMinDigitsInsert: 0
  DecimalMaxDigitsRemove: 0
  Hex:             0
  HexMinDigitsInsert: 0
  HexMaxDigitsRemove: 0
  BinaryMinDigits: 0
  DecimalMinDigits: 0
  HexMinDigits: 0

KeepEmptyLines:
  AtEndOfFile: true
  AtStartOfBlock: true
  AtStartOfFile: true

LineEnding: LF

NamespaceIndentation: All
NumericLiteralCase:
  ExponentLetter: Upper
  HexDigit: Upper
  Prefix: Lower
  Suffix: Lower

PPIndentWidth: 0
PackArguments:
  BinPack: UseBreakAfter
  BreakAfter: 9999
PackParameters:
  BinPack: UseBreakAfter
  BreakAfter: 9999
PointerAlignment: Right               # int *ptr not int* ptr
PenaltyReturnTypeOnItsOwnLine: 1000000

ReferenceAlignment: Right
RemoveBracesLLVM: false
RemoveParentheses: ReturnStatement
RemoveSemicolon: false

SortIncludes:
  Enabled: false

SeparateDefinitionBlocks: Always
SpaceAfterCStyleCast: false
SpaceAfterLogicalNot: false
SpaceAfterOperatorKeyword: true
SpaceAfterTemplateKeyword: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeCaseColon: true
SpaceBeforeCpp11BracedList: true
SpaceBeforeCtorInitializerColon: true
SpaceBeforeEnumUnderlyingTypeColon: true
SpaceBeforeInheritanceColon: true
SpaceBeforeJsonColon: false

SpaceBeforeParens: Custom
SpaceBeforeParensOptions:
  AfterControlStatements: true
  AfterForeachMacros: true
  AfterFunctionDeclarationName: false
  AfterFunctionDefinitionName: false
  AfterIfMacros: true
  AfterNot: true
  AfterOverloadedOperator: true
  AfterPlacementOperator: false
  AfterRequiresInClause: false
  AfterRequiresInExpression: false
  BeforeNonEmptyParentheses: false

SpaceBeforeRangeBasedForLoopColon: true
SpaceBeforeSquareBrackets: false
SpaceInEmptyBraces: Never
SpacesBeforeTrailingComments: 1
SpacesInAngles: Never
SpacesInContainerLiterals: false
SpacesInLineCommentPrefix:
  Minimum: 1
  Maximum: -1

SpacesInParens: Never
SpacesInSquareBrackets: false
Standard: Latest
StatementAttributeLikeMacros: []

TabWidth: 4

UseTab: Never



